// -------------------
// Variable overrides
// -------------------

/* [Colors] */
$white: #e4e7ea;
$white-primary: #c4c4c4;
$white-secondary: #a6b2cf;
$white-third: #999eab;
$turquoise: #009792;
$green-success: #00b399;
$yellow: #ffc000;
$red-soft: #f96e8f;

$bodycolor: #121721;
$sidebarcolor: #111520;
$headercolor: #1E2536;
$cardheadercolor: #1d2331;
$cardbodycolor: #181D29;

$textchartcolor: #747474;

$modalheadercolor: #545F78;
$modaltextcolor: #999EAB;

$checkboxcolor: #10131A;
$checkedcheckboxcolor: #02CFB1;


/* [Grids] */

//$grid-breakpoints: (
//  xl: 1640px
//)
